---

- name: Add add-apt-repository command
  ansible.builtin.command: apt -y install software-properties-common curl apt-transport-https ca-certificates gnupg

- name: Add additional repositories for PHP (Ubuntu 22.04)
  ansible.builtin.shell: LC_ALL=C.UTF-8 add-apt-repository -y ppa:ondrej/php

- name: Cleanup temporary key file
  ansible.builtin.file:
    path: /etc/apt/keyrings/redis_key.gpg
    state: absent
  become: true

- name: Check status of GPG Key
  ansible.builtin.stat:
    path: /usr/share/keyrings/redis-archive-keyrings.gpg
  register: redis_key_status

- name: Add redis official APT Repository GPG key
  ansible.builtin.get_url:
    url: https://packages.redis.io/gpg
    dest: /etc/apt/keyrings/redis_key.gpg
    mode: '0644'
    force: true  

- name: Dearmor gpg key
  ansible.builtin.command:
    cmd: gpg --dearmor -o /usr/share/keyrings/redis-archive-keyrings.gpg /etc/apt/keyrings/redis_key.gpg
  when: not redis_key_status.stat.exists

- name: Cleanup temporary key file
  ansible.builtin.file:
    path: /etc/apt/keyrings/redis_key.gpg
    state: absent
  become: true

- name: Update
  ansible.builtin.command: apt update

- name: Install dependencies
  ansible.builtin.shell: apt -y install php8.3 php8.3-common php8.3-cli php8.3-gd php8.3-mysql php8.3-mbstring php8.3-bcmath php8.3-xml php8.3-fpm php8.3-curl php8.3-zip mariadb-server nginx tar unzip git redis-server

- name: Installing Composer
  ansible.builtin.shell: curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer



